.my-btn{
    color: #FB6428;
    font-weight: 600;
    border-radius: 15px;
}
.walletContent{
display: flex;
flex-direction: column;

}
.walletLogo{
    width: 250px;
}

@media only screen and (max-width: 600px){
    .walletLogo{
        width: 180px;
        margin-top: -40px;
    }
}
