.walletContainer{
    background-color: #353535;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.greeting{
    color: white;
    font-family: 'Segoe UI';
}
.upperComponent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
h4{
    color: #CCA15F;
}
.transactions{
    width: 60vw;
    margin-left: 20vw;
}
@media only screen and (max-width: 600px){
    .upperComponent{
        padding: 20px 10px;
        margin-top: 0;
        justify-content: space-around;
    }
    .greeting{
        font-size: 18px;
    }
}
@media only screen and (max-width: 900px){
    .transactions{
        width: 90vw;
        margin-left: 5vw;
    }
}
